html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
}

.converter {
  margin: 70px auto;
  box-shadow: 0px 1px 17px 6px rgba(1, 1, 2, 0.74);
  max-width: 500px;
}

.form__RadioInput {
  display: block;
  width: 200px;
  margin: 0 auto;
}